 <h2 class="mt-4">Tâches complétées</h2>
 
 <table class="table tasks-done">
        <thead>
            <tr>
                <th></th>
                <th>Titre</th>
                <th>Durée estimée</th>
                <th>Durée réelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td><a data-toggle="tooltip" data-placement="top" title="Undo" href="{{ path('task_mark_undone', {'id': task.id}) }}"><i class="fas fa-check-circle fa-lg"></i></a></td>
                <td>{{ task.title }} <span class="badge badge-info"># {{ task.id }}</span>
                    {% if (task.audits | last) %}
                    <div class="audit-last-track">
                        <div>
                        Le {{ (task.audits | last).createdAt | date('d/m/Y à H:i:s') }}
                        </div>
                        <div>
                        {{ (task.audits | last).user }} - {{ (task.audits | last).action }}
                        </div>
                    </div>
                    {% endif %}
                    </td>
                <td>{{ task.expectedDuration | to_hours_or_days }}</td>
                <td><span class="task-actual-duration">{{ task.actualDuration | to_hours_or_days }}</span></td>
                <td class="icone">
                    <a data-toggle="tooltip" data-placement="top" title="Voir détails" href="{{ path('task_show', {'id': task.id}) }}"><i class="fas fa-info-circle fa-lg"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

