{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1 class="mt-5">Catégorie de tâche</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task_category.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ task_category.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('task_category_edit', {'id': task_category.id}) }}">Modifier</a>

    {{ include('task_category/_delete_form.html.twig') }}

    <a class="mt-5" href="{{ path('task_category_index') }}">Retour à la liste</a>
{% endblock %}
