{% extends 'base.html.twig' %}

{% block title %}Reports{% endblock %}

{% block body %}
    <div class="container pt-4">
        <h1>My reports</h1>

        <a class="btn btn-primary my-4" href="{{ path('time_report_new', {'adate': adate}) }}"><i class="fas fa-plus mr-2"></i> New report</a>

        <table class="table">
            <thead>
                <tr>
                    <th>Created at</th>
                    <th>Due date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for time_report in time_reports %}
                <tr>
                    <td>{{ time_report.startingAt ? time_report.startingAt|date('d/m/Y') : '' }}</td>
                    <td>{{ time_report.endingAt ? time_report.endingAt|date('d/m/Y') : '' }}</td>
                    <td>
                        <a href="{{ path('time_report_show', {'id': time_report.id}) }}">Details</a>
                        <a href="{{ path('time_report_edit', {'id': time_report.id}) }}">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
