{% extends 'base.html.twig' %}

{% block title %}Time Report{% endblock %}

{% block body %}
    <h1>Time Report</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ time_report.id }}</td>
            </tr>
            <tr>
                <th>Created at</th>
                <td>{{ time_report.createdAt ? time_report.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Starting at</th>
                <td>{{ time_report.startingAt ? time_report.startingAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Ending at</th>
                <td>{{ time_report.endingAt ? time_report.endingAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('time_report_index') }}">Back to list</a>

    <a href="{{ path('time_report_edit', {'id': time_report.id}) }}">Edit</a>

    {{ include('time_report/_delete_form.html.twig') }}
{% endblock %}
